body{
    /* background-image: url("/office-supplies.jpg"); */
    font-family: 'Roboto', sans-serif;
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 97vh;
  }
  
  .container{
    /*border:1px solid white;*/
    width: 62.5rem;
    height: 34.375rem;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: flex;
  justify-content: space-between;
  align-items: center;
  }
  .backbox{  
    background-color: #404040;
    width: 100%;
    height: 80%;
    position: absolute;
    transform: translate(0,-50%);
    top:50%;
    display: inline-flex;
    opacity: 80%;
  }
  
  .frontbox{
    background-color: white;
    border: 2px solid #f6843c;
    border-radius: 20px;
    height: 100%;
    width: 50%;
    z-index: 10;
    position: absolute;
    right:0;
    margin-right: 3%;
    margin-left: 3%;
    transition: right .8s cubic-bezier(0.075, 0.82, 0.165, 1);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  }
  
  .moving{
    right:45%;
    background-color: black;
    color: white;
    border: 2px solid #f6843c;
  }
  
  .loginMsg, .signupMsg{
    width: 50%;
    height: 100%;
    font-size: 15px;
    box-sizing: border-box;
  }
  
  .loginMsg .title,
  .signupMsg .title{
    font-weight: 300;
    font-size: 23px;
  }
  
  .loginMsg p,
  .signupMsg p {
    font-weight: 100;
  }
  
  .textcontent{
    color:white;
    margin-top:65px;
    margin-left: 12%;
  }
  
  .loginMsg button,
  .signupMsg button {
    background-color: #404040;
    border: 2px solid white;
    border-radius: 10px;
    color:white;
    font-size: 12px;
    box-sizing: content-box;
    font-weight: 300;
    padding:10px;
    margin-top: 20px;
  }

  .loginMsg button:hover,
.signupMsg button:hover {
  background-color: #f6843c;
}
  
  /* front box content*/
  .login, .signup{
    padding: 20px;
    text-align: center;
  }
  
  .login h2,
  .signup h2 {
    color: #f6843c;
    font-size:22px;
    margin-bottom: 40px;
  }
  
  .inputbox{
    margin-top:70px; 
  }
  .login input, 
  .signup input {
    display: block;
    margin-left: 10%;
    width: 80%;
    height: 40px;
    background-color: #f2f2f2;
    border: none;
    margin-top: 20px;
    margin-bottom:20px;
    font-size: 12px;
    border-radius: 10px;
    border: 2px solid #f6843c;
  }
  
  .login button,
  .signup button{
    background-color: #f6843c;
    border: none;
    color:white;
    font-size: 12px;
    font-weight: 300;
    box-sizing: content-box;
    padding:10px;
    border-radius: 10px;
    width: 10%;
    position: absolute;
    right:42%;
    bottom: 30px;
    cursor: pointer;
  }
  
  /* Fade In & Out*/
  .login p {
    cursor: pointer;
    color:#404040;
    font-size:15px;
  }
  
  .loginMsg, .signupMsg{
    /*opacity: 1;*/
    transition: opacity .8s ease-in-out;
  }
  
  .visibility{
    opacity: 0;
    background-color: black;
    color: white;
  }
  
  .hide{
    display: none;
  }

  

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #000;
    height: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 20;
    position: fixed;
  }
  
  .logo img {
    max-width: 100px;
    height: auto;
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-list li {
    margin: 0 10px;
    margin-right: 50px;
  }
  
  .nav-list li a {
    color: #f6843c;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .nav-list li a:hover {
    color: #fff;
  }
  




  .lines{position:absolute;
    top:0;
    left:0;
    right:0;
    height:100%;
    margin:auto;
    width:100vw;
    z-index:-1}
    .lines .line{
        position:absolute;
        width:4px;
        height:100%;
        top:0;
        left:50%;
        background:rgba(255,255,255,.06);
        overflow:hidden}
        .lines .line::after{
            content:"";
            display:block;
            position:absolute;
            height:15vh;
            width:100%;
            top:-50%;
            left:0;
            background:-webkit-gradient(
                linear,left top,left bottom,from(rgba(255,255,255,0)),color-stop(75%,#f6843c),to(#f6843c));
                background:linear-gradient(to bottom,rgba(255,255,255,0) 0%,#f6843c 75%,#f6843c 100%);
                -webkit-animation:run 7s 0s infinite;
                animation:run 7s 0s infinite;
                -webkit-animation-fill-mode:forwards;
                animation-fill-mode:forwards;
                -webkit-animation-timing-function:cubic-bezier(.4,.26,0,.97);
                animation-timing-function:cubic-bezier(.4,.26,0,.97)
            }
            .lines .line:nth-child(1){margin-left:-45%}
            .lines .line:nth-child(1)::after{
                -webkit-animation-delay:.5s;
                animation-delay:.5s}
                .lines .line:nth-child(3){
                    margin-left:45%
                }
                .lines .line:nth-child(3)::after{
                    -webkit-animation-delay:1s;
                    animation-delay:1s
                }
                .lines .line:nth-child(4){
                    margin-left:40%
                }
                .lines .line:nth-child(4)::after
                {
                    -webkit-animation-delay:1.5s;
                    animation-delay:1.5s}
                    .lines .line:nth-child(5){margin-left:-40%}.lines .line:nth-child(5)::after{-webkit-animation-delay:2s;animation-delay:2s}.lines .line:nth-child(6){margin-left:35%}.lines .line:nth-child(6)::after{-webkit-animation-delay:2.5s;animation-delay:2.5s}.lines .line:nth-child(7){margin-left:-35%}.lines .line:nth-child(7)::after{-webkit-animation-delay:3s;animation-delay:3s}.lines .line:nth-child(8){margin-left:30%}.lines .line:nth-child(8)::after{-webkit-animation-delay:3.5s;animation-delay:3.5s}.lines .line:nth-child(9){margin-left:-30%}.lines .line:nth-child(9)::after{-webkit-animation-delay:4s;animation-delay:4s}.lines .line:nth-child(10){margin-left:25%}.lines .line:nth-child(10)::after{-webkit-animation-delay:4.5s;animation-delay:4.5s}.lines .line:nth-child(11){margin-left:-25%}.lines .line:nth-child(11)::after{-webkit-animation-delay:5s;animation-delay:5s}.lines .line:nth-child(12){margin-left:20%}.lines .line:nth-child(12)::after{-webkit-animation-delay:5.5s;animation-delay:5.5s}.lines .line:nth-child(13){margin-left:-20%}.lines .line:nth-child(13)::after{-webkit-animation-delay:6s;animation-delay:6s}.lines .line:nth-child(14){margin-left:15%}.lines .line:nth-child(14)::after{-webkit-animation-delay:6.5s;animation-delay:6.5s}.lines .line:nth-child(15){margin-left:-15%}.lines .line:nth-child(15)::after{-webkit-animation-delay:7s;animation-delay:7s}.lines .line:nth-child(16){margin-left:10%}.lines .line:nth-child(16)::after{-webkit-animation-delay:7.5s;animation-delay:7.5s}.lines .line:nth-child(17){margin-left:-10%}.lines .line:nth-child(17)::after{-webkit-animation-delay:8s;animation-delay:8s}.lines .line:nth-child(18){margin-left:5%}.lines .line:nth-child(18)::after{-webkit-animation-delay:8.5s;animation-delay:8.5s}.lines .line:nth-child(19){margin-left:-5%}.lines .line:nth-child(19)::after{-webkit-animation-delay:9s;animation-delay:9s}@-webkit-keyframes run{0%{top:-50%}100%{top:110%}}@keyframes run{0%{top:-50%}100%{top:110%}}.section-title-bg{color:black;font-size:85px;line-height:0;position:absolute;top:50%;left:0;z-index:-1;opacity:.8;font-family:Monoton,cursive;text-transform:uppercase;right:0;transform:translateY(-50%)}










  






  
  @media (max-width: 768px) {
    .container{
        /*border:1px solid white;*/
        width: 95vw;
        height: 50vh;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        display: flex;
      justify-content: space-between; /* Space elements evenly */
      align-items: center;
      }
      .nav-list li {
        margin: 0 0px;
        margin-right: 10px;
        font-size: 12px;
      }

      ul li:nth-child(4){
        margin-right: 28px;
      }

      .inputbox{
        margin-top:30px; 
      }
      .login input, 
  .signup input {
    margin-bottom:0px;
    margin-top: 0;
  }
  .login button,
  .signup button{
    width: 15%;
  }
  }








  /* glowing effect css */


  .backroundEffect
  {
    z-index: -1;
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 97vh;
  }
  
  .glowing {
    position: relative;
    min-width: 700px;
    height: 550px;
    margin: -150px;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
  }
  
  .glowing:nth-child(even) {
    transform-origin: left;
  }
  
  /* @keyframes colorChange {
    0% {
      filter: hue-rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
      transform: rotate(360deg);
    }
  } */
  
  .glowing span {
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
  }
  
  .glowing span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
  }
  
  .glowing span:nth-child(3n + 1)::before {
    background: black;
    /* box-shadow: 0 0 20px rgb(255, 0, 0),
      0 0 40px rgb(255, 0, 0),
      0 0 60px rgb(255, 0, 0),
      0 0 80px rgb(255, 0, 0),
      0 0 0 8px rgba(134,255,0,.1); */
  }
  
  .glowing span:nth-child(3n + 2)::before {
    background: black;
    /* box-shadow: 0 0 20px rgba(255,214,0,1),
      0 0 40px rgba(255,214,0,1),
      0 0 60px rgba(255,214,0,1),
      0 0 80px rgba(255,214,0,1),
      0 0 0 8px rgba(255,214,0,.1); */
  }
  
  .glowing span:nth-child(3n + 3)::before {
    background: black;
    /* box-shadow: 0 0 20px rgba(0,226,255,1),
      0 0 40px rgba(0,226,255,1),
      0 0 60px rgba(0,226,255,1),
      0 0 80px rgba(0,226,255,1),
      0 0 0 8px rgba(0,226,255,.1); */
  }
  
  .glowing span:nth-child(3n + 1) {
    animation: animate 10s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 2) {
    animation: animate-reverse 3s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 3) {
    animation: animate 8s alternate infinite; 
  }
  
  @keyframes animate {
    0% {
      transform: rotate(180deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-reverse {
    0% {
      transform: rotate(360deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    100% {
      transform: rotate(0deg);
    }
  }